<img class="pt-20" src="assets/images/undraw_specs_re_546x.svg" alt="get started">
<section class="">
  <div
    class="mx-auto max-w-screen-xl px-4 py-10 lg:flex  lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl sm:text-5xl"
      style="color: #6F6FC8; font-weight: bold">
        Daily Notes
      </h1>

      <p class="mt-4 text-white sm:text-xl sm:leading-relaxed">
        Take notes, reminders, set goals, write down what is most important and give your mind a rest
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <button
          class="block w-full rounded-full px-12 py-3 text-sm font-medium text-white shadow sm:w-auto"
          routerLink="notes"
          style="background-color: #6F6FC8">
          Get Started
        </button>
      </div>
    </div>
  </div>
</section>
